<form asp-action="Index" method = "post">
    <label > Id:</label>
    <input type="text " name ="ID">
    <br>
    <label >Fullname</label>
    <input type="text" name = "Fullname">
    <br>
    <label >BirthDay </label>
    <input type="date" name="BirthDay">
    <br>
    <input type="submit" name="Enter" >
</form>
<h1>@ViewBag.thongBao</h1>